.save{
    text-align: left;
    margin-left: 1rem;
}
.rupee{
    margin-left: 4rem;
    text-align: left;
}
.savee{
    text-align: left;
    margin-left: 1rem;
}
.gete{
    margin-left: 1rem;
    text-align: left;
}
.gete1{
    margin-left: 1rem;
}
.gete2{
    text-align: left;
    margin-left: 1rem;
}
.box1{
    width: 15rem;
}
.control{
    text-align: left;
    margin-left: 2.5rem;
}
.controlUL{
    
    margin-left: -1.5rem;
}
.find1{
    margin-left: 1rem;
    text-align: left;
}
.find2{
    width: 13rem;
    text-align: left;
    margin-left: 1rem;
}
.fot{
    /* width: 13rem; */
}
.low1{
    width: 13rem;
}
.footer{
    margin-top: 1rem;
    width: 20rem;
    margin-right: 1rem;
    margin-left: 1rem;
}